/***
default theme
***/

/***
Reset and overrides  
***/
body
{
    background-color: #3d3d3d !important;
}

.mandatory-border
{
    border: 2px solid Red;
    padding-top: 15px;
    margin-bottom: 15px;
}

.whitebg
{
    background: #fff !important;
}
/***
Page header
***/
.header .navbar-inner
{
    filter: none !important;
    background-image: none !important;
    background-color: #1f1f1f !important;
}


.header .btn-navbar
{
    background-color: #1f1f1f !important;
}

.header .nav .dropdown-toggle:hover,
.header .nav .dropdown.open .dropdown-toggle
{
    background-color: #333 !important;
}

.header .nav li.dropdown .dropdown-toggle i
{
    color: #808080 !important;
}

/***
Page sidebar
***/
.page-sidebar > ul > li > a
{
    border-top: 1px solid #595959 !important;
    color: #fff !important;
}

.page-sidebar > ul > li:last-child > a
{
    border-bottom: 1px solid transparent !important;
}

.page-sidebar > ul > li:nth-child(3) > a
{
    /*border-top-color: transparent !important;*/
    border-top: 1px solid #595959 !important;
}

.page-sidebar > ul > li > a i
{
    color: #808080;
}

.page-sidebar > ul > li.has-sub.open > a,
.page-sidebar > ul > li > a:hover,
.page-sidebar > ul > li:hover > a
{
    background: #313131;
}

.page-sidebar > ul > li.active > a
{
    background: #e02222 !important;
    border-top-color: transparent !important;
    color: #fff;
}

    .page-sidebar > ul > li.active > a i
    {
        color: #fff;
    }

.page-sidebar > ul > li > a.open
{
    background: #313131;
}

.page-sidebar ul > li > a .arrow:before,
.page-sidebar > ul > li > a .arrow.open:before
{
    color: #919091 !important;
}

.page-sidebar ul > li.active > a .arrow:before,
.page-sidebar > ul > li.active > a .arrow.open:before
{
    color: #fff !important;
}

.page-sidebar > ul > li > ul.sub > li > a
{
    color: #fff;
    margin-left: 0px;
    padding-left: 5px;
}

.page-sidebar > ul > li > ul.sub > li:first-child > a
{
    border-top: 0px !important;
}

.page-sidebar > ul > li > ul.sub > li.active > a,
.page-sidebar > ul > li > ul.sub > li > a:hover
{
    color: #fff !important;
    background: #4b4b4b !important;
}

.page-sidebar > ul > li > ul.sub > li > a:hover
{
    background: #4b4b4b !important;
}

.page-sidebar .sidebar-search input
{
    background-color: #3d3d3d !important;
    color: #bababa !important;
}

.page-sidebar .sidebar-search .input-box
{
    border-bottom-color: #959595 !important;
}

.page-sidebar .sidebar-search .submit
{
    background-image: url(../img/search-icon.png);
}

/***
Sidebar toggler
***/
.sidebar-toggler
{
    background-image: url(../img/sidebar-toggler.jpg);
    background-color: #333;
}

/* search box bg color on expanded */
.sidebar-closed .page-sidebar .sidebar-search.open
{
    background-color: #3d3d3d !important;
}

    .sidebar-closed .page-sidebar .sidebar-search.open .remove
    {
        background-image: url("../img/sidebar-search-close.png");
    }

/* sub menu bg color on hover menu item */
.sidebar-closed .page-sidebar > ul > li.has-sub:hover .sub
{
    background-color: #3d3d3d;
}

/***
Landscape phone to portrait tablet
***/
@media (max-width:979px)
{
    /***
  page sidebar
  ***/
    .page-sidebar
    {
        background-color: #232427 !important;
    }

        .page-sidebar > ul > li > a
        {
            border-top: 1px solid #2c2d30 !important;
        }

        .page-sidebar > ul > li:last-child > a
        {
            border-bottom: 0 !important;
        }

        .page-sidebar .sidebar-search input
        {
            background-color: #232427 !important;
        }
}


.alignR
{
    float: right !important;
}

.inner-table
{
    margin: auto;
    padding: 0px;
    width: 100%;
}

    .inner-table table
    {
        width: 99%;
        margin: 0 0px;
    }

        .inner-table table tr th
        {
            border-top: solid 1px #CCCCCC;
        }

#chkInfluencesList
{
    width: 100%;
}

    #chkInfluencesList input
    {
        margin: 10px 5px 0 0;
        padding: 0px;
        float: left;
    }

    #chkInfluencesList label
    {
        font-size: 12px;
        margin: 7px 0px 0 0;
    }

.bgWhite
{
    background: white!important;
}

#chkCompanyInfluencesList
{
    width: 100%;
}

    #chkCompanyInfluencesList input
    {
        margin: 10px 5px 0 0;
        padding: 0px;
        float: left;
    }

    #chkCompanyInfluencesList label
    {
        font-size: 12px;
        margin: 7px 0px 0 0;
    }

#chkCompanyList
{
    width: 100%;
}

    #chkCompanyList input
    {
        margin: 10px 5px 0 0;
        padding: 0px;
        float: left;
    }

    #chkCompanyList label
    {
        font-size: 12px;
        margin: 7px 0px 0 0;
    }
.colorWhite
{
    color: white!important;
}


.questionRow1{width:34%; float:left; margin-left:10px;} 
.questionRow2{width:20%; float:left;} 
.questionRow3{width:15%; float:left;}

.questionMar{ margin-left:0px!important;}
.questionBot{ padding-bottom:20px!important;}
.questionColor{ color:red!important;}
.questionTxtAlignL {
    float: none !important;
    text-align: left !important;
}
.questionTxtAlignR{ text-align:right!important;}
.questionMar01{ margin-left:10px !important;}

.influencesWidth
{
    width: 250px;
    display: block;
}
.widthFLName
{
    width: 75px;
    display: block;
}
#ftbMessage
{
   cursor:inherit;
}
#ftbMessage_toolbarArea select { 
    width: 161px;
    height: 22px;
}
 #cblstUserEmail label
    {
        font-size: 12px;
        margin: 7px 0px 0 5px;        
        display:inline; 
    }
#cblstUserEmail input
{
    display:inline; 
    margin: 0px 0px 0 0px;
}



/******/


.mytable table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	/*.mytable tr:nth-of-type(odd) { 
		background: #eee; 
	}*/
	/*.mytable th { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}*/
	.mytable td, th { 
		padding: 6px; 
		/*border: 1px solid #ccc;*/ 
		text-align: left; 
	}

.table tr td
{
    vertical-align: middle;
}
.table tr th
{
    vertical-align: middle;
    text-align:center;
}


.watermark
{
    
   color:  #CCCCCC !important;
   
}
	
	